.row {
    height:30rem;
    width: 30rem;

}
.col {
    display: grid;
    grid-template-columns: auto auto auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: url('../img/spectrum-gradient.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btns{
    width: 10rem;
    height: 10rem;
    border :5px solid #1e00ff;
    font-size: 4rem;
    font-weight: bolder;
    background-color: #ffffff;
}
.btns:disabled{
    background-color: yellow;
    color: rgb(255, 0, 0);
}
.btns:hover{
    background-color:#40349abb;

}
h3{
    color: white;
    font-size: 3rem;
    
}