.row {
    height:30rem;
    width: 30rem;

}
.col {
    display: grid;
    grid-template-columns: auto auto auto;
}

body{
    height: 100vh;
    background-color: #FBFBFF;
}

.btns{
    width: 10rem;
    height: 10rem;
    border :5px solid #FF331F;
    font-size: 4rem;
    font-weight: bolder;
    background-color: #657ED4;
}
.btns:disabled{
    background-color: #0D0106;
    color: rgb(255, 0, 0);
}
.btns:hover{
    background-color:#3626A7
}